.header {
  padding: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-arrow {
  height: 6px;
  width: 6px;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(135deg);
}

.head-text {
  margin-left: 12px;
}
